<aside
  class="bg-gradient-to-br from-[#4dacac] to-[#439c9c] -translate-x-80 inset-0 z-50 my-4 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0"
>
  <div class="relative border-b border-white/20">
    <a class="flex items-center gap-4 py-6 px-8" routerLink="/dashboard/home">
      <p
        class="block antialiased tracking-normal font-sans text-lg font-semibold leading-relaxed text-white"
      >
        {{ name() }}
      </p>
    </a>
  </div>
  <nav class="flex flex-col items-center mt-9">
    @for (item of routesItems(); track item.path) {
    <a
      [routerLink]="item.path"
      routerLinkActive="bg-gradient-to-br from-[#4dacac] to-[#439c9c]"
      class="flex gap-x-2 items-center bg-primary p-3 rounded-md mb-3"
    >
      {{ item.title }}
      <mat-icon aria-hidden="false" [fontIcon]="item.data!['icon']"></mat-icon>
    </a>
    }
  </nav>
</aside>
